body {
  background-color: rgb(224, 217, 217);
  margin: 30px;
}

.outerbox {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  margin: auto;
}

#question {
  background-color: yellow;
  text-align: center;
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  font-size: 11rem;
  color: red;
  margin: 30px;
  padding: 30px;
  line-height: 200px;
}

#letter {
  font-size: 11rem;
  color: red;
  margin: 0;
  padding: 30px;
  line-height: 100px;
}

p {
  font-size: 11rem;
}

#emoji {
  background-color: rgb(174, 174, 173);
  text-align: center;
  display: inline-block;
  position: relative;
  height: 200px;
  width: 200px;
  font-size: 8rem;
  color: red;
  margin: 30px;
  padding: 30px;

  line-height: 160px;
  /* margin-left: 50px; */
  justify-content: center;
}

#input {
  margin: 50px;
  display: block;
  height: 200px;
  background-color: rgb(129, 188, 211);
  padding: 30px;
  justify-content: center;
  text-align: center;
  font-size: 10px;
}

input {
  padding: 20px;
  width: 70px;
  justify-content: center;
  margin: 20px;
  text-align: center;
  font-size: 1.25em;
}

button {
  background-color: greenyellow;
  padding: 10px;
}

@media only screen and (min-width: 750px) {
  .outerbox {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
  }

  #emoji {
    background-color: rgb(174, 174, 173);
    text-align: center;
    display: inline-block;
    position: relative;
    height: 200px;
    width: 200px;
    font-size: 8rem;
    color: red;
    margin: 30px;
    padding: 30px;
    padding-top: 30px;
    line-height: 160px;
    margin-left: 50px;
    justify-content: center;
  }

  #input {
    margin: 50px;
    display: block;
    height: 100px;
    background-color: rgb(129, 188, 211);
    padding: 30px;
    justify-content: center;
    text-align: center;
  }
}
